body {
   font-family: Verdana, sans-serif;
   font-size: 14px;
   margin: 0;
}

input, div#output {
   padding: 5px;
   border: 1px solid #ccc;
   font: 12px Verdana, sans-serif;
}

noscript {
   display: block;
}

div#output {
   display: inline-block;
   min-width: 200px;
   min-height: 15px;
   background-color: #fff;
}

#main-container,
#alert-box {
   display: none;
}

#main-container {
   margin: 10px 0 0 10px;
}

#main-container > div {
   display: flex;
   align-items: center;
   margin-bottom: 10px;
}

div#status {
   position: absolute;
   top: 20px;
   right: 10px;
   padding: 3px;
   font-weight: bold;
}

#status.connected {
   background-color: green;
}

#status.disconnected {
   background-color: red;
}

#alert-box,
noscript {
   width: 800px;
   margin: 0 auto;
   padding: 10px;
   border: 1px solid #000;
   background-color: red;
   text-align: center;
   color: #fff;
   font-weight: bold;
}